{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Войти</title>
    <link rel="stylesheet" href="{% static "Users/css/login.css" %}">
</head>
<body>
<div class="neon-bg"></div>
<div class="neon-bg"></div>
{% if user.is_authenticated %}
    <h1>Кажется, вы уже вошли в аккаунт <a href="/">На главную</a></h1>
    {% else %}
        <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit">
    </form>
<a href="/signup">Нет аккаунта</a>
{% endif %}

</body>
</html>