{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
<link rel="icon" href="/media/images/icons/WaveBoxLogo.png">
  {% block head %}{% endblock %}
</head>
<body>
    <a href="/">
        <img class="logo" width="100" height="100" src="/media/images/icons/WaveBoxLogo.png">
    </a>  
    <header class="header">
    <div class="nav-panel">
    <a href="/discover" class="{% if request.path == "/discover"  %}active{% endif %}">Home</a>
    <a href="/feed">Feed</a>
    <a href="/library">Library</a>
    <input class="searchbar" type="text" placeholder="Search">
    <a href="/upload">Upload</a>
    <a href="{% if user.is_authenticated %}/profile/{{ request.user.username }}{% else %}/login{% endif %}" class="{% if request.path == '/profile/'|add:request.user.username %}active{% endif %}">
        {% if user.is_authenticated %}{{ request.user.username }}{% else %}Profile{% endif %}
        <img class="user-avatar" width="50" height="50" src="{% if user.is_authenticated and user.avatar %}/media/{{ request.user.avatar }}{% else %}/media/images/user_avatars/noavatar.png{% endif %}">
    </a>
    </div>
    </header>
{% block body %}{% endblock %}
<div class="player">
    <div class="player-info">
        <h3 class="track-title"></h3>
        <p class="artist-name"></p>
    </div>
    
    <div class="player-controls">
        <button class="control-btn like-btn">❤</button>
        <button class="control-btn prev-btn">⏮</button>
        <button class="player-button play-btn" onclick="playerPlayTrack(this)">▶</button>
        <button class="control-btn next-btn">⏭</button>
        <button class="control-btn repeat-btn">🔁</button>
    </div>
    
<div class="simple-seek">
    <input type="range" class="simple-seek-slider" min="0" max="100" value="0">
    <div class="time-display">
        <span class="current-time">0:00</span> /
        <span class="total-time">0:00</span>
    </div>
    <div class="volume-controls">
        <button data-status="volumeon" class="volume-button"><img width="40" height="40" class="volume-image" src="/media/images/icons/volume.png"></button>
    <input type="range" class="simple-volume-slider" min="0" max="100" value="75">
    </div>

</div>
</div>
</body>
{% block script %}{% endblock %}
</html>