{% extends 'base.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "MainApp/css/chat.css" %}">
{% endblock %}
{% block body %}
<div class="chat-container">
    <div class="chat-header">
        <h1>{{ request.user }} - {{ username }}</h1>
    </div>

    <div class="chat-messages">
        {% for msg in messages %}
            <div class="message {% if msg.sender == request.user %}sender{% else %}receiver{% endif %}">
                <div class="message-avatar">
                    <img src="{{ msg.sender.avatar.url }}" alt="{{ msg.sender }}">
                </div>
                <div class="message-content">
                    <div class="message-header">
                        <span class="message-username"><a href="/profile/{{ msg.sender.username }}">{{ msg.sender }}</a></span>
                        <span class="message-time">{{ msg.created_at }}</span>
                    </div>
                    <div class="message-text">{{ msg.text }}</div>
                </div>
            </div>
        {% endfor %}
<div class="chat-input">
    <form method="post" class="message-form">
        {% csrf_token %}
        <div class="form-field">
            {{ form.text }}
        </div>
        <button type="submit" class="send-button">Отправить</button>
    </form>
</div>

    </div>
</div>
    {% block script %}
        <script>
            document.querySelector(".chat-input").scrollIntoView()
        </script>
    {% endblock %}
{% endblock %}