{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Discover the top streamed music and songs online on WaveBox</title>
    <link rel="stylesheet" href="{% static 'MainApp/css/main.css' %}">
</head>
<body>
<header class="header">
    <div class="nav-panel">
    <a href="/discover">Home</a>
    <a href="/feed">Feed</a>
    <a href="/library">Library</a>
    <input class="searchbar" type="text" placeholder="Search">
    <a href="/upload">Upload</a>
    <a href="/profile">Profile</a>
    </div>
</header>
<main>
<section class="tracks-section">
    <h2>Popular now</h2>
    <div class="tracks-container">
        <div class="tracks-wrapper">
            {% for t in Tracks %}
            <div class="track-item">
                <div class="track-image">
                    <a href="/track/{{ t.id }}">
                        <img src="{{ t.image.url }}" width="300" height="250">
                        
                        </a>
                    <div class="play-overlay">
                        <button class="play-button" onclick="playTrack(this)">▶</button>
                        <audio class="audio" src="{{ t.audiofile.url }}"></audio>
                    </div>
                </div>

                <div class="track-info">
                    <h3 class="track-name">{{ t.name }}</h3>
                    <h3 class="track-author">{{ t.author }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="scroll-button next">›</button>
        <button class="scroll-button prev">‹</button>
    </div>
</section>


<div class="player">
    <div class="track-info">
        <h2 class="player-track-name">Name</h2>
        <h2 class="player-track-author">Author</h2>
    </div>
</div>




</main>
</body>
<script src="{% static 'MainApp/js/exp.js' %}"></script>
</html>