{% extends 'base.html' %}
{% load static %}
{% block title %}Библиотека{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'MainApp/css/library.css' %}">
{% endblock %}
{% block body %}
    <section class="tracks-section-library">
    <h2>Liked tracks</h2>
    <div class="tracks-container">
        <div class="tracks-wrapper-library">
            {% for t in liked_tracks %}
            <div class="track-item">
                <div class="track-image">
                    <a href="/track/{{ t.id }}">
                        <img src="{{ t.image.url }}" width="300" height="250">
                        </a>
                    <div class="play-overlay">
                        <button data-track-id="{{ t.id }}" data-track-name="{{ t.name }}" data-track-author="{{ t.author }}"
                                data-liked="{% if user in t.liked_by.all %}true{% else %}false{% endif %}"
                                data-likes-count="{{ t.like_count }}"
                                class="play-button" onclick="playTrack(this)">▶</button>

                        <audio class="audio" src="{{ t.audiofile.url }}"></audio>
                    </div>
                </div>

                <div class="track-info">
                    <h3 class="track-name">{{ t.name|truncatechars:25 }}</h3>
                    <h3 class="track-author">{{ t.author }}</h3>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}