{% extends 'base.html' %}
{% load static %}
{% block head %}
      <link rel="stylesheet" href="{% static 'MainApp/css/profile.css' %}">
    <link rel="stylesheet" href="{% static "MainApp/css/gradient.css" %}">
{% endblock %}
{% block title %}Профиль {{ user.username }}{% endblock %}
{% block body %}
    <div class="user-data">
        <img class="user-avatar" width="700" height="700" src="{% if user.avatar %}{{ user.avatar.url }}{% else %}/media/images/user_avatars/noavatar.png{% endif %}">
    <div class="username-and-bio">
        <h2>{{ user.username }}</h2>
        <p class="bio">{% if user.bio %}{{ user.bio }}{% else %}no bio yet{% endif %}</p>
    </div>
        {% if user.username == request.user.username %}
        <a href="/logout"><button>Logout</button></a>
        <button onclick="editFormVisible()">Edit</button>
            {% else %}
            <a href="/chat/{{ user.username }}"><button>Chat</button></a>
        {% endif %}



<div class="chats-list">
    {% for c in user_chats %}
        <div class="chat-item">
            <div class="chat-avatar">
                {% if c.user1 == request.user %}
                    <img src="{{ c.user2.avatar.url }}" alt="{{ c.user2.username }}">
                {% else %}
                    <img src="{{ c.user1.avatar.url }}" alt="{{ c.user1.username }}">
                {% endif %}
            </div>
            <div class="chat-info">
                {% if c.user1 == request.user %}
                    <a href="/chat/{{ c.user2.username }}" class="chat-link">{{ c.user2.username }}</a>
                {% else %}
                    <a href="/chat/{{ c.user1.username }}" class="chat-link">{{ c.user1.username }}</a>
                {% endif %}
                <div class="last-message">Последнее сообщение...</div>
            </div>
            <div class="chat-time">10:30</div>
        </div>
    {% endfor %}
</div>



        <div class="edit-form" style="visibility: hidden">
        <form enctype="multipart/form-data" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">send</button>
        </form>
        </div>
    </div>

    {% if user_tracks %}
    <section class="tracks-section">
        <h2>Треки от автора:</h2>
        <div class="tracks-container">
            <div class="tracks-wrapper">
                {% for t in user_tracks %}
                <div class="track-item">
                    <div class="track-image">
                        <a href="/track/{{ t.id }}">
                            <img src="{{ t.image.url }}" width="300" height="250">
                        </a>
                        <div class="play-overlay">
                            <button data-track-id="{{ t.id }}"
                                    data-track-name="{{ t.name }}"
                                    data-track-author="{{ t.author }}"
                                    data-liked="{% if request.user in t.liked_by.all %}true{% else %}false{% endif %}"
                                    data-likes-count="{{ t.like_count }}"
                                    data-track-image-src="{{ t.image.url }}"
                                    class="play-button" onclick="playTrack(this)">▶</button>
                            <audio class="audio" src="{{ t.audiofile.url }}"></audio>
                        </div>
                    </div>
                    <div class="track-info">
                        <a href="/track/{{ t.id }}" class="track-name">{{ t.name|truncatechars:20 }}</a>
                        <a href="/profile/{{ t.author }}" class="track-author">{{ t.author }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="scroll-button next">›</button>
            <button class="scroll-button prev">‹</button>
        </div>
    </section>
    {% else %}
    <h1>У пользователя нет треков</h1>
    {% endif %}

    {% if user_liked_tracks %}
        <section class="tracks-section">
        <h2>Лайки пользователя:</h2>
        <div class="tracks-container">
            <div class="tracks-wrapper">
                {% for t in user_liked_tracks %}
                <div class="track-item">
                    <div class="track-image">
                        <a href="/track/{{ t.id }}">
                            <img src="{{ t.image.url }}" width="300" height="250">
                        </a>
                        <div class="play-overlay">
                            <button data-track-id="{{ t.id }}"
                                    data-track-name="{{ t.name }}"
                                    data-track-author="{{ t.author }}"
                                    data-liked="{% if user in t.liked_by.all %}true{% else %}false{% endif %}"
                                    data-likes-count="{{ t.like_count }}"
                                    data-track-image-src="{{ t.image.url }}"
                                    class="play-button" onclick="playTrack(this)">▶</button>
                            <audio class="audio" src="{{ t.audiofile.url }}"></audio>
                        </div>
                    </div>
                    <div class="track-info">
                        <a href="/track/{{ t.id }}" class="track-name">{{ t.name|truncatechars:20 }}</a>
                        <a href="/profile/{{ t.author }}" class="track-author">{{ t.author }}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
            <button class="scroll-button next">›</button>
            <button class="scroll-button prev">‹</button>
        </div>
    </section>
    {% else %}
        <h1>Пользователь не ставил лайки</h1>
    {% endif %}

{% endblock %}
{% block script %}
    <script src="{% static "MainApp/js/profile.js" %}"></script>
{% endblock %}