{% extends 'base.html' %}
{% load static %}
{% block title %}{{ track.name }} - {{ track.author }}{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{% static "MainApp/css/track.css" %}">
{% endblock %}
ф
{% block body %}
    <div class="track-page-container">
        <div class="track-player">
            <div class="track-item">
                <div class="track-image">
                        <img src="{{ t.image.url }}">
                    <div class="play-overlay">
                        <button data-track-id="{{ t.id }}" data-track-name="{{ t.name }}" data-track-author="{{ t.author }}"
                                data-liked="{% if user in t.liked_by.all %}true{% else %}false{% endif %}"
                                data-likes-count="{{ t.like_count }}"
                                class="play-button" onclick="playTrack(this)">▶</button>
                        <audio class="audio" src="{{ t.audiofile.url }}"></audio>
                    </div>
                </div>

                <div class="track-info">
                    <h3 class="track-name">{{ t.name }}</h3>
                    <h3 class="track-author">{{ t.author }}</h3>
                </div>
            </div>
            <div class="track-actions">
                <button class="action-btn add-to-playlist-btn">➕ Add to Playlist</button>
                <button class="action-btn download-btn">📥 Download</button>
            </div>
        </div>
    </div>
{% block script %}
    <script src="{% static "MainApp/js/track.js" %}"></script>
{% endblock %}
{% endblock %}